version: '3.3'
services:
    nginx1.18:
        image: nginx:1.18
        restart: unless-stopped
        ports:
            - "${NGINX_PORT}:80"
        volumes:
            - ./etc/nginx:/etc/nginx/conf.d
            - ./backend:/var/www
            - ./logs/nginx:/var/log/nginx
        links:
            - php7.1
    php7.1:
        build: ./images/php
        restart: unless-stopped
        volumes:
            #- ./etc/php /usr/local/etc/php/conf.d/40-custom.ini
            - ./backend:/var/www
            - ./logs/php:/var/log/php
        links:
            - mysql5.7
            - redis5.0
    mysql5.7:
        image: mysql:5.7
        restart: unless-stopped
        environment:
            - MYSQL_DATABASE=slots
            - MYSQL_ROOT_PASSWORD=admin
        volumes:
            - ./dump:/docker-entrypoint-initdb.d/
            - ./etc/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
            - ./store/mysql:/var/lib/mysql
            - ./logs/mysql:/var/log/mysql/general-log.log
    redis5.0:
        image: redis:5.0
        volumes:
            - ./store/redis:/var/lib/redis
            - ./etc/redis/redis.conf:/usr/local/etc/redis/redis.conf
            - ./logs/redis:/var/log/redis

