version: '3.3'
services:
    nginx1.18:
        image: nginx:1.18
        restart: unless-stopped
        ports:
            - "${NGINX_PORT}:80"
        volumes:
            - ./etc/nginx:/etc/nginx/conf.d
            - ./backend:/var/www
            - ./logs/nginx:/var/log/nginx
        links:
            - php7.1
    php7.1:
        build: ./images/php
        restart: unless-stopped
        volumes:
            - ./etc/php/custom.ini /usr/local/etc/php/conf.d/custom.ini
            - ./backend:/var/www
            - ./logs/php:/var/log/php
        links:
            - mysql5.7
            - redis5.0
            - clickhouse21.4:
    mysql5.7:
        image: mysql:5.7
        restart: unless-stopped
        environment:
            - MYSQL_DATABASE=slots
            - MYSQL_ROOT_PASSWORD=admin
        volumes:
            - ./dump/mysql:/docker-entrypoint-initdb.d/
            - ./etc/mysql:/etc/mysql/conf.d
            - ./store/mysql:/var/lib/mysql
            - ./logs/mysql:/var/log/mysql
    redis5.0:
        image: redis:5.0
        restart: unless-stopped
        volumes:
            - ./store/redis:/var/lib/redis
            - ./etc/redis/redis.conf:/usr/local/etc/redis/redis.conf
            - ./logs/redis:/var/log/redis
    clickhouse21.4:
        image: yandex/clickhouse-server:21.4
        restart: unless-stopped
        volumes:
            - ./dump/clickhouse:/docker-entrypoint-initdb.d/
            - ./etc/clickhouse:/etc/clickhouse-server
            - ./store/clickhouse:/var/lib/clickhouse
            - ./logs/clickhouse:/var/log/clickhouse-server

